
/* ----------------NAV BAR --------------*/
#divBar {
	margin:0;
	background-color: #2a292f;
	color:white;
	float: right;
	position: fixed;
	height: 100%;
	padding:20px 0 0 5px;
	font-size: 17px;
	font-size: 1.1vw;
	font-family: arial;
}
#div-logo {
	margin: 2em 1.2em 0 0.5em;
}
#div-logo h1{
	margin: 0;
	padding: 0;
	font-size: 3em;
}
#divBar ul{
	padding: 0 1.2em 0 1.5em;
	list-style-type: none;
	margin: 20px 0 100px 0;
}
#divBar li {
	padding-top: 10px;
}
#divBar a {
	display: inline-block;
	text-decoration: none;
	color: #999;
	text-align: right;

}
#divBar a:hover {
	color: #606060;
	font-weight: bold;
}		

#divBar table {
	position: absolute;
	border: 3px solid white;
	background: #2a292f;
	color:white;
	font-size: 17px;
}	
#divBar tr {
	text-align: center;
}
#tablee {
	position: absolute;
	border: 3px solid white;
	background: #2a292f;
	color:white;
	font-size: 17px;
	padding: 100px 20px 0px 0px;
}


/* -------------- SITE CONTENT ----------------- */
#header { 
	background: black;
	background-position: center center;
	height: 500px;
	color: red;
	padding: 10% 0 10% 0;
	z-index: 2;
	/*font-family: 'Fira Sans', sans-serif;*/
	font-family: 'Mountains of Christmas', 'Fira Sans', sans-serif  !important;
	font-size: 2em;
}

#header h1 {
	font-size: 2em;
	font-weight: bold;
}
.flex {
	justify-content: center;
	display: flex;
}
.header-title {
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 10px;
}
.header-title p {
	font-size: 2em;
	margin-left: 50px;
}